@{
    ViewBag.Title = "Floor Designer";

}

<section id="designer-screen">

    @Html.Partial("designerToolbar")
    <!--Drag n Drop wrapper for shapes panel and stage START-->
    <div id="designer-workspace">
        @Html.Partial("designerShapesPanel")
        @Html.Partial("designerStage")
    </div>
    <!--Drag n Drop wrapper for shapes panel and stage END-->

</section>


@Scripts.Render("~/bundles/common")
@Scripts.Render("~/bundles/designer")